<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>vue simple playground</title>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="../node_modules/normalize.css/normalize.css" type="text/css" media="screen" title="no title" charset="utf-8">

</head>

<body>
  <div id="app">
    <h2>{{ hello }}</h2>
    <ul>
      <li v-for="m in messages">
        <p>{{m.name}}</p>
        <p>{{m.desc}}</p>
      </li>
    </ul>
    <input type="text" v-model="name" @keyup.13="pushPerson(name)">
  </div>
  <script>
    new Vue({
      el: '#app',
      data: function() {
        return {
          hello: 'hello',
          name: '',
          messages: [
            {name: 'Jojo', desc: 'Jojo is a nice guy, he is like a hero'},
            {name: 'Dante', desc: 'Dante is a nice guy, he is like a hero'},
            {name: 'Tamin', desc: 'Tamin is a cute girl, she is like a hero'},
            {name: 'Seth', desc: 'Seth is a nice guy, he is like a hero'},
            {name: 'James', desc: 'James is a nice guy, he is like a hero'},
            {name: 'Gustavo', desc: 'Gustavo is a nice guy, he is like a hero'},
          ]
        }
      },
          methods: {
            pushPerson: function(name){
              this.messages.unshift({name:name ,desc:'hello' });
              this.name = '';
            }
          }
    });

  </script>
</body>

</html>

